<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">

 <!-- Google Web Font -->
<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>

<!-- OWL Carousel -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">

<!--  Slider -->
<link rel="stylesheet" href="{% static 'css/jquery.kenburnsy.css' %}">

<!-- Animate -->
<link rel="stylesheet" href="{% static 'css/animate.css' %}">

<!-- Web Icons Font -->
<link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}">
<link rel="stylesheet" href="{% static 'css/iconmoon.css' %}">
<link rel="stylesheet" href="{% static 'css/et-line.css' %}">
<link rel="stylesheet" href="{% static 'css/ionicons.css' %}">

<!-- Magnific PopUp -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

<!-- Tabs -->
<link rel="stylesheet" href="{% static 'css/tabs.css' %}">
<link rel="stylesheet" href="{% static 'css/tabstyles.css' %}">

<!-- Loader Style -->
<link rel="stylesheet" href="{% static 'css/loader-1.css' %}">

<!-- Custom Styles -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

{% include 'navbar/top-navbar.html' %}

<div class="container main-top">
{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<h1>{% block title %}{% endblock %}</h1>
<hr>
<!--
<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>
-->
</div>

<div class="container">
<div class="row">

<!--
<div class="col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>
-->

<div class="col-md-12 middle">
    {% block main %}{% endblock %}
</div>
<!--
<div class="col-md-3 right">
    {% nevercache %}
    {% include "includes/language_selector.html" %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
    </div>
</div>
-->
</div>
</div>

<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}

<div class="row">
<p class="site-info text-center">
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</div>
</footer>

<a href="javascript:void(0)" class="scroll-top" id="scroll-top"><i class="pe-7s-angle-up"></i></a>

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>

<script src="{% static "js/vendor/jquery-1.11.2.min.js" %}"></script>
<script data-pace-options='{ "ajax": false }' src="{% static "js/vendor/pace.min.js" %}"></script>

<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<script src="{% static "js/vendor/classie.js" %}"></script>
<script src="{% static "js/vendor/isotope.pkgd.min.js" %}"></script>
<script src="{% static "js/vendor/jquery.velocity.min.js" %}"></script>
<script src="{% static "js/vendor/jquery.kenburnsy.min.js" %}"></script>
<script src="{% static "js/vendor/textslide.js" %}"></script>
<script src="{% static "js/vendor/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "js/vendor/tabs.js" %}"></script>
<script src="{% static "js/ef-slider.js" %}"></script>
<script src="{% static "js/vendor/owl.carousel.min.js" %}"></script>
<script src="{% static "js/vendor/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "js/vendor/jquery.social-buttons.min.js" %}"></script>
<script src="{% static "js/vendor/wow.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/ajax.js" %}"></script>

{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block footer_js %}
{% include "includes/footer_scripts.html" %}
{% endblock %}

</body>
</html>
